



<head><link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

<body class="" data-action="pjActionCustom1" data-page="reservations" data-editor="http://trials.vevs.website/web-demo/car-parking-website/index.php?controller=pjCmsEditor&amp;action=pjActionLoadScript&amp;web_page_id=13&amp;locale_id=4&amp;fields=front_fields&amp;template=template_1">
    <app-navbar></app-navbar>

        <div class="page-heading-area">
            <div class="container">
              <div class="page-heading text-center cms-e-section" data-quick="">
                    <div data-blockid="114"><h1 class="cms-e-element h1 page-name" style="font-size:50px"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="114">Parking Locations</span></h1></div>			<div data-blockid="115"><div class="cms-e-element lead"><span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="textarea" data-foreign_id="115">Browse all parking locations that we operate.</span></div></div>					</div>
            </div>
          </div>
          <div class="wrapper">
        <div class="section">
            <div>
                <div>
                    <div id="pjCpContainer">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                                <div>
                                    <div style="height: 600px; width: 100%;">
                                        <div class="map-wrapper" style="height: 100%; width: 100%;">
                                            <div class="map-border">
                                                <div id="map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <div>

        <div class="pj-signup-inner">

            <div class="pj-signup-col pj-signup-support">





            </div>
            <div class="pj-signup-col pj-signup-action">

            </div>
        </div>
    </div>
  <footer class="footer" id="section-contact">
                <div class="footer-nav">
                    <div class="container cms-e-section">
<br>
<div class="row">
  <div class="col-sm-3"><a  routerLink="/map">{{'HOME.Start' | translate }}</a></div>
  <div class="col-sm-3"><a routerLink="/pres">{{'HOME.Locations' | translate }}</a></div>
  <div class="col-sm-3"><a routerLink="/price">{{'HOME.Price' | translate }}</a></div>
  <div class="col-sm-3"><a routerLink="/contact"> {{'HOME.Contact' | translate }}</a></div>
</div>
<br>
<br>
<br>
                                       </div>
                </div>
                <div >
                    <div >
                        <div class="row">

                            <div class="col-sm-6 col-xs-12">
                                <p class="copyright cms-e-section" data-quick="" data-quick2="company"
                                    data-title-quick2="Company Details"> Copyright 2020 <a 
                                        href="http://treetronix.com/"><span class="wc-editable" data-pk="ws_car_name"
                                            data-type="text">Treetronix</span></a> | <span class="wc-editable"
                                        data-pk="ws_rights_reserved" data-type="text">All rights reserved</span></p>
    
                                <p class="credits credits-secondary"><a href="http://treetronix.com/" target="_blank"
                                        rel="noopener">IParking</a> </p>
                            </div>
                            <div class="col-sm-5 col-xs-12 text-right">
                                <div class="socials socials-secondary cms-e-section row" data-quick2="social"
                                    data-title-quick2="Social Media Profiles">
					  <div class="col-sm-10"></div>
                                    <div class="col-sm-1"><a href="https://www.facebook.com/treetronix/?ref=br_rs" target="_blank" class="ico"
                                            rel="noopener"><i class="fa fa-facebook"></i></a></div>
                                    <div class="col-sm-1"><a href="https://www.linkedin.com/company/treetronix/" target="_blank" class="ico"
                                            rel="noopener"><i class="fa fa-linkedin"></i></a></div>
    
                                 </div>
  <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

 </body>